* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

h1,
h2 {
	font-weight: 300;
}

/* 
===============================================
===			        NAV                     ===
=============================================== 
*/

.navbar {
	background-color: #00060d;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbar span {
	margin-right: 10em;
}

/* 
===============================================
===			       LANDING                  ===
=============================================== 
*/

.header {
	position: relative;
	width: 100%;
	height: fit-content;
}

.overlay {
	background-color: rgba(0, 6, 13, 0.5);
	padding-top: 0.5em;
	text-align: center;
	justify-content: center;
	align-content: center;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.circle {
	margin-top: 0.5em;
	padding-top: 0.3em;
	display: inline-block;
	background-color: rgba(102, 106, 115, 0.7);
	border-radius: 50%;
	height: 2em;
	width: 2em;
}

.header-img {
	max-width: 100%;
}
